# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.env

# PyInstaller Artifacts
build/
dist/
*.spec

# Exception: Keep our main build config
!build_config.spec

# VS Code settings
.vscode/

scan_history.json

